asgiref==3.3.4
certifi==2020.12.5
chardet==4.0.0
clarifai==2.6.2
clarifai-grpc==7.3.0
configparser==3.8.1
Django==3.2
djangorestframework==3.12.4
future==0.18.2
googleapis-common-protos==1.53.0
grpcio==1.37.0
idna==2.10
jsonschema==2.6.0
protobuf==3.15.8
pytz==2021.1
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.4
